{% extends 'base.html' %}

{% block title %}

Teachers

{% endblock %}
{% load mathfilters %}
{% block content %}
    {% if teacher %}
    <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
            <h1 class="text-3xl text-black pb-6">List of Teachers</h1>

            <div class="w-full mt-6">
                <p class="text-xl pb-3 flex items-center">
                    <i class="fas fa-list mr-3"></i>Teachers info
                </p>
                <div class="bg-white overflow-auto">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-800 text-white">
                            <tr>
                                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">First name</th>
                                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Last name</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Class</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Payment</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                            {% for a in lesson %}
                            <tr>
                                <td class="text-left py-3 px-4"><a class="hover:text-blue-500" href="{% url 'schoolapp:lesson_details' a.id %}">{{user.teacher.hourlyRate}}</a></td>
                                <td class="text-left py-3 px-4"><a class="hover:text-blue-500" href="{% url 'schoolapp:lesson_details' a.id %}">{{user.teacher.hourlyRate}}</a></td>
                                <td class="text-left py-3 px-4"><a class="hover:text-blue-500" href="{% url 'schoolapp:lesson_details' a.id %}">{{user.teacher.hourlyRate}}</a></td>
                                <td class="text-left py-3 px-4"><a class="hover:text-blue-500" href="{% url 'schoolapp:lesson_details' a.id %}">{{user.teacher.hourlyRate|mul:user.teacher.lesson_set.count}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p class="pt-3 text-gray-600">
                    Source: <a class="underline" href="https://tailwindcomponents.com/component/striped-table">https://tailwindcomponents.com/component/striped-table</a>
                </p>
            </div>
        </main>

        <footer class="w-full bg-white text-right p-4">
            Built by <a target="_blank" href="https://davidgrzyb.com" class="underline">David Grzyb</a>.
        </footer>
    </div>
    {% else %}
        No teachers found in the database
    {% endif %}
{% endblock %}
    
