{% extends 'base.html' %}

{% block title %}

Teachers

{% endblock %}
{% block content %}

    {% if student %}
        <table style="width:100%">
            <tr>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            {% for a in teacher %}
                <tr>
                    <td><a href="{% url 'schoolapp:teacher_details' a.id %}">{{a.teacher_first_name}}</a></td>
                    <td><a href="{% url 'schoolapp:teacher_details' a.id %}">{{a.teacher_last_name}}</a></td>
                </tr>  
            {% endfor %}  
        </table>  
    {% else %}
        No Students found in the database
    {% endif %}
{% endblock %}
